# .github/workflows/test_action.yaml
name: Test Action
on: [push]

jobs:
  send-msteams-notification:
    runs-on: ubuntu-latest
    name: Sends a notifications to MS Teams
    steps:
      - name: Notification
        if: always()
        id: send_notification
        uses: "rafal-slowik/gh-action-msteams@$master" # Uses an action in the root directory
        with:
          webhook_uri: ${{ secrets.MSTEAMS_WEBHOOK }}
        # or use a released Github Action
        # uses: rafal-slowik/gh-action-msteams@master
